body {
  margin: 0;
  font-family: 'Lobster Two', cursive;
}

div.background {
  width: 100vw;
  min-height: 100vh;
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.content {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

div.content>.content-wrapper {
  max-width: 96%;
  margin: auto;
}

div.count-down {
  border: 2px solid lightgray;
  background-color: white;
  display: inline-block;
  flex-grow: 0;
}

.clock {
  font-size: xx-large;
  display: inline-block;
  margin-bottom: 10px;
}

.clock>div {
  user-select: none;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 10px;
  min-width: 100px;
  background: rgba(40, 50, 61, 0.65);
  max-width: 40%;
  margin-bottom: 5px;
}

.clock>div:hover {
  background: rgba(40, 50, 61, 0.85);
}

.message {
  font-size: xx-large;
  color: white;
  cursor: pointer;
  padding-bottom: 10px;
}

.misses-container {
  border-radius: 5px;
  margin: 10px;
  background: rgba(40, 50, 61, 0.65);
  color: white;
}

.miss-wrapper {
  min-height: 60px;
  border-bottom: 2px solid rgba(40, 50, 61, 0.65);
}

.miss-wrapper:hover {
  background: rgba(40, 50, 61, 0.5);
}

.miss-wrapper:last-child {
  border-bottom: none;
}

.miss-wrapper:nth-child(odd)>.sweet-quote-wrapper {
  width: calc(100% - 60px);
}

.sweet-quote-wrapper>.her, .sweet-quote-wrapper>.me {
  text-align: left;
  display: inline-block;
  cursor: pointer;
  min-height: 30px;
  padding: 4px;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

.sweet-quote-wrapper {
  text-align: center;
  display: inline-block;
  width: calc(100% - 60px);
}

.play-song {
  cursor: pointer;
  margin: 10px;
  width: 40px;
  height: 40px;
  background-image: url(music.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.play-song.paused {
  filter: grayscale(100%);
}

.play-song.none {
  background-image: url(none.png);
  cursor: grabbing;
}

.miss-wrapper:nth-child(even)>.play-song {
  float: left;
}

.miss-wrapper:nth-child(odd)>.play-song {
  float: right;
}